
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.bg-brand { background-color: #ff4d5a !important; }
.text-brand { color: #ff4d5a !important; }
.btn-brand { background-color: #ff4d5a; color: white; border: none; }
.btn-brand:hover { background-color: #e63e4b; color: white; }
.nav-link:hover{
    color: #ff4d5a;
}

.bg-dark-1 { background-color: #212b31; }
.bg-dark-2 { background-color: #1a2227; }

/* HERO SECTION */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://images.unsplash.com/photo-1497366216548-37526070297c?auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.test1{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.test2{
    color: rgb(47, 228, 11);
    font-size: 16px;
    font-weight: bolder;
}

.hero-content {
    padding-top: 100px;
}

/* OVERLAP CARDS */
.overlap-section {
   margin-top: 50px;
    position: relative;
    z-index: 5;
    /* border: 2px solid green; */
}

.section-padding {
    padding: 100px 0;
    /* border: 2px solid green; */
}

/* BUSINESS SECTION IMAGE */
.bg-image-1 {
    background: url('https://images.unsplash.com/photo-1497366811353-6870744d04b2?auto=format&fit=crop&w=800&q=80');
    background-size: cover;
    background-position: center;
}

/* PORTFOLIO NAV */
.portfolio-nav .nav-link {
    font-size: 12px;
    letter-spacing: 1px;
}

/* FORM STYLING */
.form-control:focus {
    box-shadow: 0 0 10px rgba(255, 77, 90, 0.2);
    border: 1px solid #ff4d5a;
}

.test3{
    color: rgb(64, 10, 191);
    font-size: 16px;
    font-weight: bolder;
}